@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body { 
	background: url("../images/bg_3.jpg") repeat center center;
	background-color: #4d453c;
	position: relative;
	color: #fefefe;
	font-family: 'Roboto', sans-serif;

	&:after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #1e1e1e;
		opacity: 0.65;
		z-index: -1;
	}
}

h1, h2, h3, h4, h5, h6,
button, .error_message,
.image_icon_wrapper {
	font-family: 'Crimson Text', serif;
}

button {
	border: none;
	background-color: transparent;
	border-radius: 0px;
	cursor: pointer;
}

h2 {
	font-size: 1.25rem;
}

.display {
	display: block;
}

.hide {
	display: none;
}

.error_message {
	color: red;
}

.image_icon_wrapper {
	display: inline-block;
	margin: 5px 15px;
	cursor: pointer;
	padding: 7px 8px;

	&, a, a:visited {
		color: #fefefe;
	}

	&.selected, &:hover, & a:hover {
		background-color: #423c38;
		opacity: 0.95;
	}

	img, p {
		display: inline-block;
		margin-right: 6.5px;
		vertical-align: middle;
	}

	img {
		max-width: 45px;
	}

	p {

	}

	@media all and (max-width: 1120px) {
		margin: 20px 5px 20px 5px;

		img {
			max-width: 40px;
		}
	}

	@media all and (max-width: 720px) {
		font-size: 12pt;

		img, p {
			display: block;
			margin: 5px auto;
		}

		img {
			max-width: 35px;
		}
	}

	@media all and (max-width: 550px) {
		font-size: 9pt;
	}


	@media all and (max-width: 425px) {
		margin: 10px 15px;

		p {
			display: none;
		}

		img {
			max-width: 40px;
		}
	}
}

#filter_select_wrapper {
	

	.filter_section  {
		

		h3 {
			
		}

		button {
			

			&:hover {
				
			}

			&.selected {
				
			}
		}
	}
}

#display_quests_container {
	text-align: right;

	@media all and (max-width: 1120px) {
		text-align: center;
	}
}

#app_name_top {
	position: absolute;
	top: 20px;
	left: 10px;
	font-size: 1.65rem;

	p {
		font-size: 1.15rem;
		padding-top: 5px;
		padding-left: 8px;
	}

	@media all and (max-width: 1120px) {
		display: block;
		position: relative;
		top: auto;
		left: auto;
		padding: 15px;
	}
}

button#toggle_filter_display {
	
	&.selected {
		
	}
}

#games_choice_wrapper {
	display: block;
	margin: 10px auto 0px auto;
	text-align: right;

	button {
		display: inline-block;
		padding: 14px 14px;
		background-color: #423c39;
		margin: 5px;
		position: relative;
		color: #fefefe;
		font-size: 1.05rem;
		z-index: 3;

		@media all and (max-width: 1080px) {
		}

		@media all and (max-width: 640px) {
			display: block;
			font-size: 1.12rem;
			margin: 5px auto;
			width: 75%;
			padding: 18px 15px;
		}

		&.selected {

			&,&:focus {
				outline: none;
				background-color: #1b1715;
			}

		}

		&:hover {
			background-color: #1b1715;
			opacity: 0.75;
		}
	}
}

#game_select_wrapper {
	button {
		

		&:hover {
			
		}

		&.selected {
			
		}
	}
}

#quest-list-wrapper {
	max-width: 1280px;
	margin: auto;

	.error_message {
		margin: 10px;
		text-align: center;
		font-size: 1.25rem;
	}

	h2 {
		font-size: 1.45rem;
		margin: 12px 18px;
	}

	li {
		

		button {
			

			&:hover {
				
			}
		}
	}
}

.item_list {
	display: block;
	margin: auto;
	max-width: 1080px;
	color: #fefefe;
	max-height: 550px;
	overflow: auto;

	li {
		background-color: #383430;
		display: block;
		margin: 7px auto;
		text-align: left;
		padding: 25px 20px;
		position: relative;
		max-width: 90%;
		cursor: pointer;

		&:hover {
			background-color: #23221f;
		}

		.name {
			font-size: 1.65rem;
			font-family: 'Crimson Text', serif;
			margin-bottom: 8px;
		}

		.target, .star-num {

		}

		.star-num, .quest-clear {
			padding: 2.5px 5px;
			margin-top: 7px;
			margin-left: 5px;
			border-radius: 2px;

		}

		.target {
			font-size: 0.95rem;
		}

		.star-num {
			background-color: orange;
		}

		.quest-clear {
			background-color: crimson;
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			width: 45px;
			height: 100%;
			font-size: 1.35rem;
			color: #BBBBBB;

			&:hover {
				color: #fefefe;
			}
		}
	}

	@media all and (max-width: 720px) {
		li {
			padding: 15px 10px;

			.name {
				font-size: 1.35rem;
			}

			.target {
				display: block;
				margin-bottom: 15px;
			}
		}
	}
}

#clear_all_button {
	color: #CCCCCC;
	font-size: 1.35rem;
	cursor: pointer;
	padding: 15px 15px;
	width: 75%;
	max-width: 900px;
	margin: 10px auto;
	display: block;

	&:hover {
		color: #fefefe;
	}
}

#scroll_top_btn {
	display: none;
}

#current_selected_item {
	text-align: center;
	max-width: 100%;
	display: block;
	padding: 55px 30px;
	background-color: #383430;
	opacity: 0.85;
	position: relative;

	.item_list li {
		background-color: #282623;
	}
	
	h1, h2 {
		max-width: 1080px;
		margin: auto auto 15px auto;
		text-align: left;
	}

	h1 {

		font-size: 1.95rem;
		font-weight: bold;
	}

	h2 {

		font-size: 1.25rem;

	}

	input[type="text"] {
		margin: 15px auto;
		padding: 10px 6px;
		background-color: #fefefe;
		border: none;
		border-radius: 2px;
		display: block;
		width: 75%;
		max-width: 500px;
		text-align: center;

		&:focus {
			text-align: left;
			outline: none;
			box-shadow: 0px 0px 5px #222;
		}
	}

	ul {
		list-style-type: none;
		max-width: 1080px;
		width: 100%;
		margin: auto;
		display: block;
	}

	ul li {

		a {
			display: block;
			padding: 20px 25px;
			margin: 5px auto;
			text-align: left;
			width: 100%;
			text-decoration: none;
		}

		a, a:visited { 
			color: #fefefe;	
		}

		a:hover {
			color: yellow;
			background-color: #282623;
		}
	}

	#clear_all_search_results_button {
		color: #CCCCCC;
		font-size: 1.35rem;
		cursor: pointer;
		padding: 15px 15px;
		width: 75%;
		max-width: 900px;
		margin: 10px auto;
		display: block;

		&:hover {
			color: #fefefe;
		}
	}

	#close_sidebar {
		position: absolute;
		width: 45px;
		height: 45px;
		top: 10px;
		right: 10px;
		color: #a59f99;
		font-size: 1.75rem;

		&:hover {
			color: #DDDDDD;
		}
	}

	strong {
		margin-left: 5px;
		color: yellow;
	}

	@media all and (max-width: 720px) {
		padding-top: 35px;
		padding-botton: 35px;
		padding-left: 10px;
		padding-right: 10px;
		line-height: 1.3rem;
		text-align: left;
	}
}

.quest_added_alert {
	background-color: #383430;
	font-family: 'Crimson Text';
	font-size: 1.35rem;
	box-shadow: 0px 0px 6px rgba(1,1,1,0.75);
	padding: 15px 35px;
	position: fixed;
	bottom: 10px;
	right: 5px;
	animation: slideUp 2s 1;
	z-index: 999;
}

@keyframes slideUp {
	from, to {
		opacity: 0;
	}

	45% {
		opacity: 1;
	}
}

#filter_options_wrapper {
	max-width: 1080px;
	width: 100%;
	display: block;
	color: #fefefe;
	margin: 15px auto;

	#toggle_filter_display {
		color: #fefefe;
		margin: 10px 5px;
		font-size: 1.10rem;

	}

	.filter_section {
		margin: 25px;

		h3 {
			font-size: 1.5rem;
		}

		button {
			color: #fefefe;
			font-size: 1.15rem;
			margin: 4px 7px;
			min-width: 25px;
			padding: 10px 15px;

			&:hover {
				color: yellow;
				background-color: #23221f;
			}

			&.selected {
				color: red;
				background-color: #23221f;
			}
		}

		@media all and (max-width: 720px) {
			margin: 12px;

			button {
				border: solid thin #23221f;
				margin: 4px 3px;
				padding: 6px 12px;
			}
		}
	}
}

footer {
	background: url('../images/felyne-art.png') no-repeat center top 25px;
	background-size: 300px auto;
	background-color: #6f5b4a;
	margin-top: 35px;
	margin-bottom: 20px;
	padding: 180px 15px 30px 15px;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 0.85rem;

	strong {
		color: orange;
		font-weight: bolder;
	}
}